.detailbg{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 8%;
    // margin-top: 100vh;
}

.listbox{
    margin-top: 80vh;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 60vh;
    font-family: 'GmarketSansMedium';
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    // transform: translateY(-20%);
    text-align: center;
    color: #fff;
    .img{
        img{
            width: 30vw;
            &:hover{
                filter: drop-shadow(0 0 1rem #feffe8);
            }
        }
    }
    .detailtext{
        padding: 0 20%;
        margin-top: 2rem;
    }
    .content1{
        p{
            // color: #c566d6;
            // text-shadow: #BB31CF 0 0 10px;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .content2{
        margin-top: 1.3rem;
        p{
            color: rgb(196, 196, 196);
            font-size: 1.2rem;
        }
    }
    .content3{
        margin-top: 2rem;
        padding: 0 35%;
        align-items: center;
        display: flex;
        justify-content: center;
            img{
                width: 3.5vw;
            }
            .techImg{
                margin: 0 1.5rem;
            }
    }
}
