.detailbg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    padding: 0 5%;
    scale: 1;

    // margin-top: 150vh;
    .lottie {
        scale: 0.7;
        position: relative;
        left: -30%;
        top: -20%;
        opacity: 0;
        width: 50vw;
    }

    .detailtext {
        padding: 0 1em;
        color: #fff;
        width: 50%;
        text-align: left;
        font-family: 'GmarketSansMedium';
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(-10%);
        opacity: 0;
        justify-content: center;

        .content1 {
            letter-spacing: 0.8px;
            line-height: 33px;

            p:nth-of-type(1) {
                font-size: 1.7rem;
                font-weight: 700;
                background: linear-gradient(#2668EF, #71F3D2);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: #71F3D2 0 0 10px;
                margin-bottom: 1rem;
            }

            .img2 {
                margin: 0 1.2rem;
            }

            .img4 {
                margin: 0 1.2rem;
            }

            .img6 {
                margin-left: 1.2rem;
            }

            img {
                width: 3vw;
            }
        }

        .content2 {
            margin-top: 2rem;
            letter-spacing: 0.8px;
            line-height: 33px;

            p:nth-of-type(1) {
                font-size: 1.7rem;
                font-weight: 700;
                color: #c566d6;
                text-shadow: #BB31CF 0 0 10px;
            }

            p:nth-of-type(2) {
                margin-top: 0.3rem;
                font-size: 1.3rem;
                color: rgb(255, 255, 255);
            }
        }
    }


    &.active {
        .lottie {
            animation: move 0.8s 0s ease-in-out both;
        }

        @keyframes move {
            0% {
                opacity: 0;
                left: -30%;
                top: -20%;
            }

            100% {
                opacity: 1;
                left: 0%;
                top: 0%;
            }
        }

        .detailtext {
            animation: move2 0.8s 0s ease-in-out both;
        }

        @keyframes move2 {
            0% {
                opacity: 0;
                left: 50%;
                top: 30%;
                transform: translateY(-10%);
            }

            100% {
                opacity: 1;
                left: 0;
                top: 50%;
                transform: translateY(-10%);
            }
        }
    }
}