.detailbg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    padding: 0 5%;
    scale: 1;

    // margin-top: 150vh;
    .lottie {
        scale: 0.7;
        position: relative;
        left: -30%;
        top: -20%;
        opacity: 0;
        width: 50vw;
    }

    .detailtext {
        padding: 0 1em;
        color: #fff;
        width: 50%;
        text-align: left;
        font-family: 'GmarketSansMedium';
        position: relative;
        opacity: 0;
        justify-content: center;

        .content1 {
            letter-spacing: 0.8px;
            line-height: 33px;

            p:nth-of-type(1) {
                font-size: 1.7rem;
                font-weight: 700;
                background: linear-gradient(#2668EF, #71F3D2);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: #71F3D2 0 0 10px;
                margin-bottom: 1.2rem;
            }

            .first {
                justify-content: space-between;

                .img2 {
                    margin: 0 1.2rem;
                }

                .img4 {
                    margin: 0 1.2rem;
                }

                .img6 {
                    margin-left: 1.2rem;
                }

                img {
                    width: 3vw;
                }
            }

            .second {
                display: flex;
                margin-top: 1rem;

                img {
                    width: 3vw;
                }

                .img8 {
                    margin: 0 1.2rem;
                }

                .img10 {
                    margin: 0 1.2rem;
                }

                .img11 {
                    margin-right: 1.2rem;
                }
            }
        }

        .content2 {
            margin-top: 4rem;
            letter-spacing: 0.8px;
            line-height: 33px;

            p:nth-of-type(1) {
                font-size: 1.7rem;
                font-weight: 700;
                color: #c566d6;
                text-shadow: #BB31CF 0 0 10px;
            }

            p:nth-of-type(2) {
                margin-top: 0.3rem;
                font-size: 1.3rem;
                color: rgb(255, 255, 255);
            }
        }
    }


    &.active {
        .lottie {
            animation: move 0.8s 0s ease-in-out both;
        }

        @keyframes move {
            0% {
                opacity: 0;
                left: -30%;
                top: -20%;
            }

            100% {
                opacity: 1;
                left: 0%;
                top: 0%;
            }
        }

        .detailtext {
            animation: move2 0.8s 0s ease-in-out both;
        }

        @keyframes move2 {
            0% {
                opacity: 0;
                left: 50%;
                top: 30%;
                transform: translateY(-10%);
            }

            100% {
                opacity: 1;
                left: 0;
                top: 43%;
                transform: translateY(-10%);
            }
        }
    }
}












@media screen and (max-width:1200px) {
    .detailbg {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        padding: 0 5%;
        scale: 1;

        .lottie {
            scale: 0.7;
            position: relative;
            left: -30%;
            top: -20%;
            opacity: 0;
            width: 50vw;
        }

        .detailtext {
            padding: 0 1em;
            color: #fff;
            width: 50vw;
            text-align: left;
            font-family: 'GmarketSansMedium';
            position: relative;
            opacity: 0;
            justify-content: center;

            .content1 {
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 700;
                    background: linear-gradient(#2668EF, #71F3D2);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: #71F3D2 0 0 10px;
                    margin-bottom: 1.2rem;
                }

                .first {
                    justify-content: space-between;

                    .img2 {
                        margin: 0 1.2rem;
                    }

                    .img4 {
                        margin: 0 1.2rem;
                    }

                    .img6 {
                        margin-left: 1.2rem;
                    }

                    img {
                        width: 3vw;
                    }
                }

                .second {
                    display: flex;
                    margin-top: 1rem;

                    img {
                        width: 3vw;
                    }

                    .img8 {
                        margin: 0 1.2rem;
                    }

                    .img10 {
                        margin: 0 1.2rem;
                    }

                    .img11 {
                        margin-right: 1.2rem;
                    }
                }
            }

            .content2 {
                margin-top: 4rem;
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 700;
                    color: #c566d6;
                    text-shadow: #BB31CF 0 0 10px;
                }

                p:nth-of-type(2) {
                    margin-top: 0.3rem;
                    font-size: 1.3rem;
                    color: rgb(255, 255, 255);
                }
            }
        }


        &.active {
            .lottie {
                animation: move 0.8s 0s ease-in-out both;
            }

            @keyframes move {
                0% {
                    opacity: 0;
                    left: -30%;
                    top: -20%;
                }

                100% {
                    opacity: 1;
                    left: 0%;
                    top: 0%;
                }
            }

            .detailtext {
                animation: move2 0.8s 0s ease-in-out both;
            }

            @keyframes move2 {
                0% {
                    opacity: 0;
                    left: 50%;
                    top: 30%;
                    transform: translateY(-10%);
                }

                100% {
                    opacity: 1;
                    left: 0;
                    top: 44%;
                    transform: translateY(-10%);
                }
            }
        }
    }
}
















@media screen and (max-width:1024px) {
    .detailbg {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        padding: 0 5%;
        scale: 1;

        .lottie {
            scale: 0.7;
            position: relative;
            left: -30%;
            top: -20%;
            opacity: 0;
            width: 60vw;
        }

        .detailtext {
            padding: 0 1em;
            color: #fff;
            width: 50vw;
            text-align: left;
            font-family: 'GmarketSansMedium';
            position: absolute;
            opacity: 0;
            justify-content: center;

            .content1 {
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 700;
                    background: linear-gradient(#2668EF, #71F3D2);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: #71F3D2 0 0 10px;
                    margin-bottom: 1.2rem;
                }

                .first {
                    justify-content: space-between;

                    .img2 {
                        margin: 0 1.2rem;
                    }

                    .img4 {
                        margin: 0 1.2rem;
                    }

                    .img6 {
                        margin-left: 1.2rem;
                    }

                    img {
                        width: 4vw;
                    }
                }

                .second {
                    display: flex;
                    margin-top: 1rem;

                    img {
                        width: 4vw;
                    }

                    .img8 {
                        margin: 0 1.2rem;
                    }

                    .img10 {
                        margin: 0 1.2rem;
                    }

                    .img11 {
                        margin-right: 1.2rem;
                    }
                }
            }

            .content2 {
                margin-top: 4rem;
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 700;
                    color: #c566d6;
                    text-shadow: #BB31CF 0 0 10px;
                }

                p:nth-of-type(2) {
                    margin-top: 0.3rem;
                    font-size: 1.3rem;
                    color: rgb(255, 255, 255);
                }
            }
        }


        &.active {
            .lottie {
                animation: move 0.8s 0s ease-in-out both;
            }

            @keyframes move {
                0% {
                    opacity: 0;
                    left: -30%;
                    top: -20%;
                }

                100% {
                    opacity: 1;
                    left: -8%;
                    top: 0%;
                }
            }

            .detailtext {
                animation: move2 0.8s 0s ease-in-out both;
            }

            @keyframes move2 {
                0% {
                    opacity: 0;
                    right: -30%;
                    top: 30%;
                    transform: translateY(-10%);
                }

                100% {
                    opacity: 1;
                    right: -5%;
                    top: 36%;
                    transform: translateY(-10%);
                }
            }
        }
    }
}



















@media screen and (max-width:820px) {
    .detailbg {
        width: 100%;
        height: 100vh;
        margin-top: 10vh;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        scale: 1;

        .lottie {
            scale: 1.2;
            position: relative;
            left: -30%;
            top: -20%;
            opacity: 0;
            margin-top: 13vh;
        }

        .detailtext {
            padding: 0 1em;
            color: #fff;
            width: 50vw;
            text-align: center;
            font-family: 'GmarketSansMedium';
            position: relative;
            opacity: 0;
            justify-content: center;

            .content1 {
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 700;
                    background: linear-gradient(#2668EF, #71F3D2);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: #71F3D2 0 0 10px;
                    margin-bottom: 2rem;
                }

                .first {
                    display: flex;
                    justify-content: space-between;

                    .img2 {
                        margin: 0 1.2rem;
                    }

                    .img4 {
                        margin: 0 1.2rem;
                    }

                    .img6 {
                        margin-left: 1.2rem;
                    }

                    img {
                        width: 4.5vw;
                    }
                }

                .second {
                    display: flex;
                    margin-top: 2rem;
                    justify-content: space-between;

                    img {
                        width: 4.5vw;
                    }

                    .img8 {
                        margin: 0 1.2rem;
                    }

                    .img10 {
                        margin: 0 1.2rem;
                    }

                    .img11 {
                        margin-right: 1.2rem;
                    }
                }
            }

            .content2 {
                margin-top: 4rem;
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 700;
                    color: #c566d6;
                    text-shadow: #BB31CF 0 0 10px;
                }

                p:nth-of-type(2) {
                    margin-top: 0.4rem;
                    font-size: 1.2rem;
                    color: rgb(255, 255, 255);
                }
            }
        }


        &.active {
            .lottie {
                animation: move 0.8s 0s ease-in-out both;
            }

            @keyframes move {
                0% {
                    opacity: 0;
                    left: 20%;
                    transform: translateX(-50%);
                    top: 0%;
                }

                100% {
                    opacity: 1;
                    left: 50%;
                    transform: translateX(-40%);
                    top: 0%;
                }
            }

            .detailtext {
                animation: move2 0.8s 0s ease-in-out both;
            }

            @keyframes move2 {
                0% {
                    opacity: 0;
                    left: 80%;
                    top: 0%;
                    transform: translateX(-50%);
                }

                100% {
                    opacity: 1;
                    left: 50%;
                    top: 0%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}





















@media screen and (max-width:768px) {
    .detailbg {
        width: 100%;
        height: 100vh;
        margin-top: 10vh;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        scale: 1;

        .lottie {
            scale: 1.2;
            position: relative;
            left: -30%;
            top: -20%;
            opacity: 0;
            margin-top: 10vh;
        }

        .detailtext {
            padding: 0 1em;
            color: #fff;
            width: 50vw;
            text-align: center;
            font-family: 'GmarketSansMedium';
            position: relative;
            opacity: 0;
            justify-content: center;

            .content1 {
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 700;
                    background: linear-gradient(#2668EF, #71F3D2);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: #71F3D2 0 0 10px;
                    margin-bottom: 2rem;
                }

                .first {
                    display: flex;
                    justify-content: space-between;

                    .img2 {
                        margin: 0 1.2rem;
                    }

                    .img4 {
                        margin: 0 1.2rem;
                    }

                    .img6 {
                        margin-left: 1.2rem;
                    }

                    img {
                        width: 4.5vw;
                    }
                }

                .second {
                    display: flex;
                    margin-top: 2rem;
                    justify-content: space-between;

                    img {
                        width: 4.5vw;
                    }

                    .img8 {
                        margin: 0 1.2rem;
                    }

                    .img10 {
                        margin: 0 1.2rem;
                    }

                    .img11 {
                        margin-right: 1.2rem;
                    }
                }
            }

            .content2 {
                margin-top: 4rem;
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 700;
                    color: #c566d6;
                    text-shadow: #BB31CF 0 0 10px;
                }

                p:nth-of-type(2) {
                    margin-top: 0.4rem;
                    font-size: 1.2rem;
                    color: rgb(255, 255, 255);
                }
            }
        }


        &.active {
            .lottie {
                animation: move 0.8s 0s ease-in-out both;
            }

            @keyframes move {
                0% {
                    opacity: 0;
                    left: 20%;
                    transform: translateX(-50%);
                    top: 0%;
                }

                100% {
                    opacity: 1;
                    left: 50%;
                    transform: translateX(-40%);
                    top: 0%;
                }
            }

            .detailtext {
                animation: move2 0.8s 0s ease-in-out both;
            }

            @keyframes move2 {
                0% {
                    opacity: 0;
                    left: 80%;
                    top: 0%;
                    transform: translateX(-50%);
                }

                100% {
                    opacity: 1;
                    left: 50%;
                    top: 0%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}




















@media screen and (max-width:375px) {
    .detailbg {
        width: 100%;
        height: 100vh;
        margin-top: 20vh;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        scale: 1;

        .lottie {
            scale: 1.2;
            position: relative;
            left: -30%;
            top: -20%;
            opacity: 0;
            margin-top: 10vh;
        }

        .detailtext {
            padding: 0 1em;
            color: #fff;
            width: 50vw;
            text-align: center;
            font-family: 'GmarketSansMedium';
            position: relative;
            opacity: 0;
            justify-content: center;

            .content1 {
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    margin-top: 1rem;
                    font-size: 1.3rem;
                    font-weight: 700;
                    background: linear-gradient(#2668EF, #71F3D2);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: #71F3D2 0 0 10px;
                    margin-bottom: 1.5rem;
                }

                .first {
                    display: flex;
                    justify-content: space-between;

                    .img2 {
                        margin: 0 1rem;
                    }

                    .img4 {
                        margin: 0 1rem;
                    }

                    .img6 {
                        margin-left: 1rem;
                    }

                    img {
                        width: 4.8vw;
                    }
                }

                .second {
                    display: flex;
                    margin-top: 1.2rem;
                    justify-content: space-between;

                    img {
                        width: 4.8vw;
                    }

                    .img8 {
                        margin: 0 1rem;
                    }

                    .img10 {
                        margin: 0 1rem;
                    }

                    .img11 {
                        margin-right: 1rem;
                    }
                }
            }

            .content2 {
                margin-top: 3rem;
                letter-spacing: 0.8px;
                line-height: 33px;

                p:nth-of-type(1) {
                    font-size: 1.3rem;
                    font-weight: 700;
                    color: #c566d6;
                    text-shadow: #BB31CF 0 0 10px;
                }

                p:nth-of-type(2) {
                    margin-top: 0.4rem;
                    font-size: 1rem;
                    padding: 0 0.8rem;
                    line-height: 25px;
                    color: rgb(255, 255, 255);
                }
            }
        }


        &.active {
            .lottie {
                animation: move 0.8s 0s ease-in-out both;
            }

            @keyframes move {
                0% {
                    opacity: 0;
                    left: 20%;
                    transform: translateX(-50%);
                    top: 0%;
                }

                100% {
                    opacity: 1;
                    left: 50%;
                    transform: translateX(-40%);
                    top: 0%;
                }
            }

            .detailtext {
                animation: move2 0.8s 0s ease-in-out both;
            }

            @keyframes move2 {
                0% {
                    opacity: 0;
                    left: 80%;
                    top: 0%;
                    transform: translateX(-50%);
                }

                100% {
                    opacity: 1;
                    left: 50%;
                    top: 0%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}