.btn {
    border: 1px solid #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
    width: 10vw;
    height: 2.5vw;
    margin-top: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);

    &:hover {
        border: 1px solid #000;
        color: #000;
    }
}

.btn span {
    position: relative;
    z-index: 1;
    color: #fff;

    &:hover {
        color: #000;
    }
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}










@media screen and (max-width:1200px) {
    .btn {
        border: 1px solid #fff;
        display: block;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        overflow: hidden;
        position: relative;
        color: #fff;
        font-weight: 700;
        font-size: 15px;
        background-color: transparent;
        width: 12vw;
        height: 3vw;
        margin-top: 1rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
        // padding: 1rem;

        &:hover {
            border: 1px solid #000;
            color: #000;
        }
    }
}