.abouttext {
    color: #fff;
    font-family: 'Playfair Display', serif;
    position: absolute;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    .contact {
        font-size: 5rem;
    }

    .address {
        .content1 {
            p:nth-of-type(1) {
                font-size: 1.8rem;
                font-weight: 800;
                background: #71F3D2;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 1;
            }

            p:nth-of-type(2) {
                font-size: 1.5rem;
                color: rgb(224, 224, 224);
            }
        }

        .content2 {
            margin: 1.5rem 0;

            p:nth-of-type(1) {
                font-size: 1.8rem;
                font-weight: 800;
                background: #71F3D2;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                // text-shadow: #71F3D2 0 0 10px;
            }

            p:nth-of-type(2) {
                font-size: 1.5rem;
                color: rgb(224, 224, 224);
            }
        }

        .content3 {
            p:nth-of-type(1) {
                font-size: 1.8rem;
                font-weight: 800;
                background: #71F3D2;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                // text-shadow: #71F3D2 0 0 10px;
            }

            p:nth-of-type(2) {
                font-size: 1.5rem;
                color: rgb(224, 224, 224);
            }
        }
    }
}

.aboutbg {
    width: 100%;
    height: 100vh;
    background-color: #030A1E;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;

    .red1 {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 35vw;
        height: 35vw;
        background: linear-gradient(45deg, #B76663, rgba(115, 45, 81, 0.5));
        opacity: 50%;
        border-radius: 50%;
        filter: blur(40px);
        animation: red1 20s infinite;
    }

    @keyframes red1 {
        0% {
            left: -5%;
            top: -5%;
        }

        50% {
            left: 15%;
            top: 45%;
        }

        70% {
            left: 70%;
            top: -10%;
        }

        100% {
            left: -5%;
            top: -5%;
        }
    }

    .red2 {
        position: absolute;
        right: 0%;
        top: 50%;
        width: 33vw;
        height: 33vw;
        background: linear-gradient(-60deg, #D6489A, rgba(248, 233, 240, 0.5));
        opacity: 70%;
        border-radius: 50%;
        filter: blur(40px);
        animation: red2 25s infinite;
    }

    @keyframes red2 {
        0% {
            right: 0%;
            top: 50%;
        }

        50% {
            right: 30%;
            top: -10%;
        }

        70% {
            right: 75%;
            top: 60%;
        }

        100% {
            right: 0%;
            top: 50%;
        }
    }
}










@media screen and (max-width:1200px) {
    .abouttext {
        color: #fff;
        font-family: 'Playfair Display', serif;
        position: absolute;
        // padding: 0 10%;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }
}
















@media screen and (max-width:1024px) {
    .abouttext {
        color: #fff;
        font-family: 'Playfair Display', serif;
        position: absolute;
        width: 85%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;

        .contact {
            font-size: 4.5rem;
        }

        .address {
            .content1 {
                p:nth-of-type(1) {
                    font-size: 1.8rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 1;
                }

                p:nth-of-type(2) {
                    font-size: 1.5rem;
                    color: rgb(224, 224, 224);
                }
            }

            .content2 {
                margin: 1.5rem 0;

                p:nth-of-type(1) {
                    font-size: 1.8rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.5rem;
                    color: rgb(224, 224, 224);
                }
            }

            .content3 {
                p:nth-of-type(1) {
                    font-size: 1.8rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.5rem;
                    color: rgb(224, 224, 224);
                }
            }
        }
    }
}




















@media screen and (max-width:820px) {
    .abouttext {
        color: #fff;
        font-family: 'Playfair Display', serif;
        position: absolute;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;

        .contact {
            font-size: 4.5rem;
            margin-bottom: 5rem;
        }

        .address {

            .content1 {
                p:nth-of-type(1) {
                    // margin-bottom: 0.1rem;
                    font-size: 1.7rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 1;
                }

                p:nth-of-type(2) {
                    font-size: 1.3rem;
                    color: rgb(255, 255, 255);
                }
            }

            .content2 {
                margin: 2rem 0;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.3rem;
                    color: rgb(224, 224, 224);
                }
            }

            .content3 {
                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.3rem;
                    color: rgb(224, 224, 224);
                }
            }
        }
    }
}




















@media screen and (max-width:768px) {
    .abouttext {
        color: #fff;
        font-family: 'Playfair Display', serif;
        position: absolute;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;

        .contact {
            font-size: 4.5rem;
            margin-bottom: 5rem;
        }

        .address {

            .content1 {
                p:nth-of-type(1) {
                    // margin-bottom: 0.1rem;
                    font-size: 1.7rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 1;
                }

                p:nth-of-type(2) {
                    font-size: 1.3rem;
                    color: rgb(255, 255, 255);
                }
            }

            .content2 {
                margin: 2rem 0;

                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.3rem;
                    color: rgb(224, 224, 224);
                }
            }

            .content3 {
                p:nth-of-type(1) {
                    font-size: 1.7rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.3rem;
                    color: rgb(224, 224, 224);
                }
            }
        }
    }
}

















@media screen and (max-width:414px) {
    .abouttext {
        color: #fff;
        font-family: 'Playfair Display', serif;
        position: absolute;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;

        .contact {
            font-size: 2.5rem;
            margin: 1rem 0 5rem 0;
        }

        .address {
            text-align: center;

            .content1 {
                p:nth-of-type(1) {
                    // margin-bottom: 0.1rem;
                    font-size: 1.5rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 1;
                }

                p:nth-of-type(2) {
                    font-size: 1.2rem;
                    color: rgb(255, 255, 255);
                }
            }

            .content2 {
                margin: 2rem 0;

                p:nth-of-type(1) {
                    font-size: 1.5rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.2rem;
                    color: rgb(224, 224, 224);
                }
            }

            .content3 {
                p:nth-of-type(1) {
                    font-size: 1.5rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.2rem;
                    color: rgb(224, 224, 224);
                }
            }
        }
    }
}


















@media screen and (max-width:375px) {
    .abouttext {
        color: #fff;
        font-family: 'Playfair Display', serif;
        position: absolute;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;

        .contact {
            font-size: 2.5rem;
            margin: 5rem 0;
        }

        .address {
            text-align: center;

            .content1 {
                p:nth-of-type(1) {
                    // margin-bottom: 0.1rem;
                    font-size: 1.5rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 1;
                }

                p:nth-of-type(2) {
                    font-size: 1.2rem;
                    color: rgb(255, 255, 255);
                }
            }

            .content2 {
                margin: 2rem 0;

                p:nth-of-type(1) {
                    font-size: 1.5rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.2rem;
                    color: rgb(224, 224, 224);
                }
            }

            .content3 {
                p:nth-of-type(1) {
                    font-size: 1.5rem;
                    font-weight: 800;
                    background: #71F3D2;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // text-shadow: #71F3D2 0 0 10px;
                }

                p:nth-of-type(2) {
                    font-size: 1.2rem;
                    color: rgb(224, 224, 224);
                }
            }
        }
    }
}