.mainbg {
    background-color: #030A1E;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;

    .maintext {
        color: #fff;
        font-family: 'Playfair Display', serif;
        font-size: 6rem;
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;

        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        margin-top: 1rem;
        background: transparent;
        line-height: 42px;
        padding: 0;
        border: none;
        width: 10vw;
        height: 2.5vw;
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        font-size: 1.3rem;
        z-index: 100;
        font-family: 'Playfair Display', serif;
        color: #ffffff;
        animation: scroll 2s infinite;
    }

    @keyframes scroll {
        0% {
            bottom: 5%;
            opacity: 1;
        }

        50% {
            bottom: 3%;
            opacity: 1;
        }

        100% {
            bottom: 5%;
            opacity: 1;
        }
    }

    button span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    button:before,
    button:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: rgb(255, 255, 255);
        box-shadow:
            -7px -7px 20px 0px rgba(255, 255, 255, .9),
            -4px -4px 5px 0px rgba(255, 255, 255, .9),
            7px 7px 20px 0px rgba(0, 0, 0, .2),
            4px 4px 5px 0px rgba(0, 0, 0, .3);
        transition: all 0.3s ease;
    }

    button:before {
        height: 0%;
        width: 2px;
    }

    button:after {
        width: 0%;
        height: 2px;
    }

    button:hover {
        color: rgb(255, 255, 255);
        background: transparent;
    }

    button:hover:before {
        height: 100%;
    }

    button:hover:after {
        width: 100%;
    }

    button span:before,
    button span:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: rgb(255, 255, 255);
        box-shadow:
            -7px -7px 20px 0px rgba(255, 255, 255, .9),
            -4px -4px 5px 0px rgba(255, 255, 255, .9),
            7px 7px 20px 0px rgba(0, 0, 0, .2),
            4px 4px 5px 0px rgba(0, 0, 0, .3);
        transition: all 0.3s ease;
    }

    button span:before {
        width: 2px;
        height: 0%;
    }

    button span:after {
        height: 2px;
        width: 0%;
    }

    button span:hover:before {
        height: 100%;
    }

    button span:hover:after {
        width: 100%;
    }






    .purple {
        position: absolute;
        left: 0%;
        top: 25%;
        width: 17vw;
        height: 17vw;
        background: linear-gradient(#4E3D95, #4E82DF);
        opacity: 70%;
        border-radius: 50%;
        filter: blur(40px);
        animation: purplecircle 20s infinite;
    }

    @keyframes purplecircle {
        0% {
            top: 25%;
            left: 0%;
        }

        50% {
            top: -10%;
            left: 70%;
        }

        70% {
            top: 70%;
            left: 70%;
        }

        100% {
            top: 25%;
            left: 0%;
        }
    }

    .green {
        position: absolute;
        left: 50%;
        bottom: -10%;
        width: 30vw;
        height: 30vw;
        background: linear-gradient(#F4BE78, #46DAF3);
        opacity: 60%;
        border-radius: 50%;
        filter: blur(40px);
        animation: greencircle 25s infinite;
    }

    @keyframes greencircle {
        0% {
            left: 50%;
            bottom: -10%;
        }

        50% {
            left: -10%;
            bottom: 40%;
        }

        70% {
            left: 60%;
            bottom: 80%;
        }

        100% {
            left: 50%;
            bottom: -10%;
        }
    }

    .red {
        position: absolute;
        right: 0%;
        top: -35%;
        width: 35vw;
        height: 35vw;
        background: linear-gradient(90deg, #B76663, rgba(115, 45, 81, 0.5));
        opacity: 80%;
        border-radius: 50%;
        filter: blur(40px);
        animation: redcircle 25s infinite;
    }

    @keyframes redcircle {
        0% {
            right: 0%;
            top: -35%;
        }

        50% {
            right: 20%;
            top: 50%;
        }

        70% {
            right: 90%;
            top: -10%;
        }

        100% {
            right: 0%;
            top: -35%;
        }
    }
}







@media screen and (max-width:1200px) {}