.mainbg {
    background-color: #030A1E;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;

    .maintext {
        color: #fff;
        font-family: 'Playfair Display', serif;
        font-size: 6rem;
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;

        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        margin-top: 1rem;
        background: transparent;
        line-height: 42px;
        padding: 0;
        border: none;
        width: 10vw;
        height: 2.5vw;
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        font-size: 1.3rem;
        z-index: 100;
        font-family: 'Playfair Display', serif;
        color: #ffffff;
        animation: scroll 2s infinite;
    }

    @keyframes scroll {
        0% {
            bottom: 5%;
            opacity: 1;
        }

        50% {
            bottom: 3%;
            opacity: 1;
        }

        100% {
            bottom: 5%;
            opacity: 1;
        }
    }





    .purple {
        position: absolute;
        left: 0%;
        top: 25%;
        width: 17vw;
        height: 17vw;
        background: linear-gradient(#4E3D95, #4E82DF);
        opacity: 70%;
        border-radius: 50%;
        filter: blur(40px);
        animation: purplecircle 20s infinite;
    }

    @keyframes purplecircle {
        0% {
            top: 25%;
            left: 0%;
        }

        50% {
            top: -10%;
            left: 70%;
        }

        70% {
            top: 70%;
            left: 70%;
        }

        100% {
            top: 25%;
            left: 0%;
        }
    }

    .green {
        position: absolute;
        left: 50%;
        bottom: -10%;
        width: 30vw;
        height: 30vw;
        background: linear-gradient(#F4BE78, #46DAF3);
        opacity: 60%;
        border-radius: 50%;
        filter: blur(40px);
        animation: greencircle 25s infinite;
    }

    @keyframes greencircle {
        0% {
            left: 50%;
            bottom: -10%;
        }

        50% {
            left: -10%;
            bottom: 40%;
        }

        70% {
            left: 60%;
            bottom: 80%;
        }

        100% {
            left: 50%;
            bottom: -10%;
        }
    }

    .red {
        position: absolute;
        right: 0%;
        top: -35%;
        width: 35vw;
        height: 35vw;
        background: linear-gradient(90deg, #B76663, rgba(115, 45, 81, 0.5));
        opacity: 80%;
        border-radius: 50%;
        filter: blur(40px);
        animation: redcircle 25s infinite;
    }

    @keyframes redcircle {
        0% {
            right: 0%;
            top: -35%;
        }

        50% {
            right: 20%;
            top: 50%;
        }

        70% {
            right: 90%;
            top: -10%;
        }

        100% {
            right: 0%;
            top: -35%;
        }
    }
}















@media screen and (max-width:768px) {
    .mainbg {
        background-color: #030A1E;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0;
        top: 0;
        overflow: hidden;
        box-sizing: border-box;

        .maintext {
            color: #fff;
            font-family: 'Playfair Display', serif;
            font-size: 6rem;
            position: absolute;
            left: 0%;
            top: 0%;
            right: 0%;
            bottom: 0%;

            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button {
            margin-top: 1rem;
            background: transparent;
            line-height: 42px;
            padding: 0;
            border: none;
            width: 10vw;
            height: 2.5vw;
            position: absolute;
            left: 50%;
            bottom: 5%;
            transform: translateX(-50%);
            font-size: 1.3rem;
            z-index: 100;
            font-family: 'Playfair Display', serif;
            color: #ffffff;
            animation: scroll 2s infinite;
        }

        @keyframes scroll {
            0% {
                bottom: 5%;
                opacity: 1;
            }

            50% {
                bottom: 3%;
                opacity: 1;
            }

            100% {
                bottom: 5%;
                opacity: 1;
            }
        }





        .purple {
            position: absolute;
            left: 0%;
            top: 25%;
            width: 22vw;
            height: 22vw;
            background: linear-gradient(#4E3D95, #4E82DF);
            opacity: 70%;
            border-radius: 50%;
            filter: blur(40px);
            animation: purplecircle 20s infinite;
        }

        @keyframes purplecircle {
            0% {
                top: 25%;
                left: 0%;
            }

            50% {
                top: -10%;
                left: 70%;
            }

            70% {
                top: 70%;
                left: 70%;
            }

            100% {
                top: 25%;
                left: 0%;
            }
        }

        .green {
            position: absolute;
            left: 50%;
            bottom: -10%;
            width: 35vw;
            height: 35vw;
            background: linear-gradient(#F4BE78, #46DAF3);
            opacity: 60%;
            border-radius: 50%;
            filter: blur(40px);
            animation: greencircle 25s infinite;
        }

        @keyframes greencircle {
            0% {
                left: 50%;
                bottom: -10%;
            }

            50% {
                left: -10%;
                bottom: 40%;
            }

            70% {
                left: 60%;
                bottom: 80%;
            }

            100% {
                left: 50%;
                bottom: -10%;
            }
        }

        .red {
            position: absolute;
            right: 0%;
            top: -35%;
            width: 38vw;
            height: 38vw;
            background: linear-gradient(90deg, #B76663, rgba(115, 45, 81, 0.5));
            opacity: 80%;
            border-radius: 50%;
            filter: blur(40px);
            animation: redcircle 25s infinite;
        }

        @keyframes redcircle {
            0% {
                right: 0%;
                top: -25%;
            }

            50% {
                right: 20%;
                top: 80%;
            }

            70% {
                right: 70%;
                top: -10%;
            }

            100% {
                right: 0%;
                top: -25%;
            }
        }
    }
}



















@media screen and (max-width:375px) {
    .mainbg {
        background-color: #030A1E;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0;
        top: 0;
        overflow: hidden;
        box-sizing: border-box;

        .maintext {
            color: #fff;
            font-family: 'Playfair Display', serif;
            font-size: 3rem;
            position: absolute;
            left: 0%;
            top: 0%;
            right: 0%;
            bottom: 0%;

            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button {
            margin-top: 1rem;
            background: transparent;
            line-height: 42px;
            padding: 0;
            border: none;
            width: 10vw;
            height: 2.5vw;
            position: absolute;
            left: 50%;
            bottom: 5%;
            transform: translateX(-50%);
            font-size: 1.3rem;
            z-index: 100;
            font-family: 'Playfair Display', serif;
            color: #ffffff;
            animation: scroll 2s infinite;
        }

        @keyframes scroll {
            0% {
                bottom: 5%;
                opacity: 1;
            }

            50% {
                bottom: 3%;
                opacity: 1;
            }

            100% {
                bottom: 5%;
                opacity: 1;
            }
        }





        .purple {
            position: absolute;
            left: 0%;
            top: 25%;
            width: 22vw;
            height: 22vw;
            background: linear-gradient(#4E3D95, #4E82DF);
            opacity: 70%;
            border-radius: 50%;
            filter: blur(40px);
            animation: purplecircle 20s infinite;
        }

        @keyframes purplecircle {
            0% {
                top: 25%;
                left: 0%;
            }

            50% {
                top: -10%;
                left: 70%;
            }

            70% {
                top: 70%;
                left: 70%;
            }

            100% {
                top: 25%;
                left: 0%;
            }
        }

        .green {
            position: absolute;
            left: 50%;
            bottom: -10%;
            width: 35vw;
            height: 35vw;
            background: linear-gradient(#F4BE78, #46DAF3);
            opacity: 60%;
            border-radius: 50%;
            filter: blur(40px);
            animation: greencircle 25s infinite;
        }

        @keyframes greencircle {
            0% {
                left: 50%;
                bottom: -10%;
            }

            50% {
                left: -10%;
                bottom: 40%;
            }

            70% {
                left: 60%;
                bottom: 80%;
            }

            100% {
                left: 50%;
                bottom: -10%;
            }
        }

        .red {
            position: absolute;
            right: 0%;
            top: -35%;
            width: 38vw;
            height: 38vw;
            background: linear-gradient(90deg, #B76663, rgba(115, 45, 81, 0.5));
            opacity: 80%;
            border-radius: 50%;
            filter: blur(40px);
            animation: redcircle 25s infinite;
        }

        @keyframes redcircle {
            0% {
                right: 0%;
                top: -25%;
            }

            50% {
                right: 20%;
                top: 80%;
            }

            70% {
                right: 70%;
                top: -10%;
            }

            100% {
                right: 0%;
                top: -25%;
            }
        }
    }
}